<div class="container mt-3 w-50">
  <form action="/products/add-products" method="POST">
    <div class="form-group">
      {{! <label for="exampleInputEmail1">Email address</label> }}
      <input
        type="hidden"
        class="form-control"
        id="_id"
        name="_id"
        placeholder="Product ID"
        aria-describedby="emailHelp"
      />

    </div>
    <div class="form-group">

      <input
        type="text"
        class="form-control"
        id="pName"
        name="pName"
        placeholder="Product name"
        autofocus
      />
    </div>
    <div class="form-group">

      <input
        type="text"
        class="form-control"
        id="pDesc"
        name="pDesc"
        aria-describedby="emailHelp"
        placeholder="Product Desc"
      />
    </div>
    <div class="form-group">

      <input
        type="text"
        class="form-control"
        id="pPrice"
        name="pPrice"
        aria-describedby="emailHelp"
        placeholder="Product Price"
      />
    </div>

    <input type="file" id="img" name="img" accept="application/JPEP" />

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>