<form [formGroup]="loginForm" (ngSubmit)="login()" class="mx-auto login">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      name="mail"
      aria-describedby="emailHelp"
      formControlName="mail"
    />
    <span *ngIf="mail?.invalid && mail?.touched" style="color: red"
      >*Invalid Email Id!</span
    >
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      [type]="type"
      class="form-control"
      formControlName="pass"
      name="pass"
    />
    <span id="eye"><i [class]="eyeClass" (click)="hideShow()"></i></span>
    <span *ngIf="pass?.invalid && pass?.touched" style="color: red"
      >*Invalid Password!</span
    >
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1"
      >agree before submitting</label
    >
  </div>

  <button type="submit" class="btn btn-dark w-100">Submit</button>

  <div class="create">
    <button
      type="button"
      class="btn btn-success mt-2"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Create Account
    </button>
  </div>
</form>
