<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">username</th>
      <th scope="col">email</th>
      <th scope="col">city</th>
      <th scope="col">ZipCode</th>
      <th scope="col">company</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of data">
      <td>{{ user.id }}</td>
      <td>{{ user.name | uppercase }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.address.city }}</td>
      <td>{{ user.address.zipcode }}</td>
      <td>{{ user.company.name }}</td>
    </tr>
  </tbody>
</table>
